.dropdown-item:hover {
    background-color: green !important;
    color: #007bff !important;
    transform: scale(1.05);
    transition: all 0.3s ease;
}

.dropdown-item i {
    transition: transform 0.3s ease;
}

.dropdown-item:hover i {
    transform: translateX(5px);
}